#row2{
    margin-top: 10px;
    border-top: 10px;
    padding-left: 20px;
}
.card-deck col-md offset-4{
    background-color: black;
}
body{
    background-color: black;
}
div{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
}